@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');


@theme {
  --font-display: "Satoshi", "sans-serif";
  --font-handwriting: 'Merienda', 'cursive';
  --color-primary: #cf4f00;
  /* ... */
}

@layer components{
  .primary-btn {
    @apply bg-orange-400 text-white font-bold px-4 py-2 rounded-full;
  }
  .secondary-btn {
    @apply bg-gray-300 text-white font-bold px-4 py-2 rounded-full;
  }
  .container {
    @apply px-4;
  }
}

@layer base{
  .text-shadow{
    text-shadow: -6px 6px 10px rgba(0, 0, 0, 0.4);
  }
}

@layer utilities{
  .img-shadow{
    filter: drop-shadow(-6px 8px 15px rgba(0, 0, 0, 0.4));
  }
}